body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

main {
   /* expand vertically without hiding any */
  flex: 1 1 0;
  padding: 60px 15px 0;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  /* shrink vertically without hiding any */
  flex: 0 1 auto;
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: left;
}

footer>.container {
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


a {
  color: #006747;
}

.text-muted {
  color: #006747;
}


h2 {
  margin-top: 2rem;
  color: #006747;
}

h3 {
  margin-top: 2rem;
  color: rgb(121, 121, 121);
}

.img-thumbnail {
  border-width: 0px;
  margin-right: 5px;
}

code {
  font-size: 80%;
}

.bg-nw-green {
  background-color: #006747 !important;
}

.highlight {
  background-color: yellow;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2rem;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 2px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg .tg-5mgg {
  font-weight: bold;
  background-color: #c0c0c0;
  vertical-align: top
}

.tg .tg-yw4l {
  vertical-align: top
}

mark {
  background: rgb(0, 255, 34);
}

.professor-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.professor-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
