/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

:root {
  --nw-green: #006747;
}

a {
  color: var(--nw-green);
}

h2 {
  margin-top: 2rem;
  color: var(--nw-green);
}

h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(80, 80, 80);
}

code {
  font-size: 80%;
}

.checklist > li {
  list-style-type: none;
}

.img-thumbnail {
  border-width: 0;
  margin: 0.125in;
  min-width: 1in;
}

.bg-nw-green {
  background-color: var(--nw-green) !important;
}

.highlight {
  background-color: yellow;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2rem;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  border-color: darkgrey;
  text-align: center;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  border-color: darkgrey;
  background-color: var(--nw-green);
  color: white;
}

.thead-dark {
  background-color: var(--nw-green);
  color: white;
}

td,
th {
  word-break: break-all;
}

mark {
  background: rgb(0, 255, 34);
}

.professor-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.professor-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.contribution-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.contribution-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

input {
  margin-right: 2em;
}

.tap-target-a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.tap-target-li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.state-icon {
  margin-left: -5px;
  margin-right: 5px;
}

.hidden {
  visibility: hidden;
}

.list-group-item-primary {
  color: rgb(255, 255, 255);
  background-color: var(--nw-green) !important;
}

.list-group-item-primary > a {
  color: rgb(255, 255, 255);
  background-color: var(--nw-green) !important;
  text-decoration: underline;
}
