@font-face {
  font-family: 'Roboto', sans-serif;
  font-display: fallback;
  src: url('https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/font/roboto/Roboto-Regular.woff2');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-display: fallback;
  src: url('https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/font/roboto/Roboto-Light.woff2');
}

@font-face {
  font-family: 'FontAwesome';
  font-display: fallback;
  src: url('https://use.fontawesome.com/releases/v5.8.2/webfonts/fa-regular-400.woff2');
}

a {
  color: #006747;
}

h2 {
  margin-top: 2rem;
  color: #006747;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(121, 121, 121);
}

code {
  font-size: 80%;
}

.checklist > li {
  list-style-type: none;
}

.img-thumbnail {
  border-width: 0px;
  margin: 0.125in;
  min-width: 1in;
}

.bg-nw-green {
  background-color: #006747 !important;
}

.highlight {
  background-color: yellow;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2rem;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 2px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg .tg-5mgg {
  font-weight: bold;
  background-color: #c0c0c0;
  vertical-align: top;
}

.tg .tg-yw4l {
  vertical-align: top;
}

mark {
  background: rgb(0, 255, 34);
}

.professor-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.professor-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

input {
  margin-right: 2em;
}
